#thoughts-container {
    position: absolute;
    bottom: 0;
    height: calc(100% - 50px);
    width: 100%;
}
.selected-thought-content {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 50px;
    padding: 0;
    /* border: solid 1px rgba(50, 50, 100, 0.5); */
    width: 100%;
}
.thought-content__textarea {
    background-color: #edf3ff;
    border: none;
    height: 100%;
    width: 100%;
    
    /* disable border on focus */
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
}
